.dataGrid-block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.dataGrid-addNew{
  margin-bottom: 10px;
}
.dataGrid-btnGrp{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}
